{
  "presets": ["@babel/env", "@babel/preset-react"],
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env", { "development": true }],
        ["@babel/preset-react", { "development": true }]
      ]
    }
  }
}
